<h1>My Products</h1>


<!-- Two way binding  -->
<!-- <input *ngIf=" !isDisabled " type="text" [(ngModel)]= "productName" > -->

<!-- Event Binding and property binding  -->
<!-- <button *ngIf=" !isDisabled " (click) = "onAddProduct()" >Add a product</button> -->
<!-- String Interpolation ,structural directives -->
<!-- <div *ngFor="let product of products">{{ product }}</div> -->



<form action="" (ngSubmit) = "onAddProduct(f)"  #f= "ngForm">
  <input type="text" ngModel name="productName" required>
  <button type="submit" >Add a product</button>

</form>



<app-product (productClicked)="onRemoveProduct(product)" *ngFor="let product of products" [productName]="product">
</app-product>
